@charset "UTF-8";

.body{
    background:darkblue
}

.whitebox{
    width: 200px;
    height: 200px;
    background-color: rgb(190, 168, 168);
    margin: 10px;
    display: inline-block;
    border: 5px black;
    cursor: pointer;
    
}

.imgbox{
    position: relative;
    width : 150px;
    height: 150px;
    background-color: black;
    top : 10px;
    left : 10px;

}

.hold{
    border: 2px red;

}

.hide{
    display: none;
}